@import "../node_modules/normalize.css/normalize.css";

//Settings
$gray: #ddd;
$color: #000;

//Base
html,
body,
#app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  color: $color;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  padding: 20px;
  width: 100%;
}

.page__title {
  text-align: center;
}

.loading {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.header {
  background: $gray;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  flex-direction: column;

  &__logo {
    width: 180px;
    height: 50px;
    background: darken($gray, 20%);

    &--small {
      height: 40px;
    }
  }

  .nav__left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 2rem;
  }
}

.nav {
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.l-grid {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  background: lighten($gray, 5%);
  height: 10rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text--center{
  text-align: center;
}

//Card component

$cardWidth: 200px;
$cardHeight: 220px;

.c-card {
  width: $cardWidth;
  height: $cardHeight;
  background: $gray;
  margin: 5px 5px;
  padding: 10px;
  border: 2px solid darken($gray, 30%);
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: left;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.4);

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
  }

  &__title {
    color: $color;
    text-decoration: none;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.5);
    background: lighten($gray, 5%);
  }

  &.is-active {
    width: calc(#{$cardWidth} * 2);
    height: calc(#{$cardHeight} * 2);
  }
}

//All media for devices 600px and above
@media (min-width: 600px) {
  .container {
    max-width: 90%;
    padding: 10px;
    margin: 0 auto;
  }
  .header .nav__left {
    width: 40%;
    flex-direction: column;
    padding-bottom: 0;
  }
  .l-grid {
    justify-content: space-between;
  }
  .page__title {
    text-align: left;
  }
  .header {
    flex-direction: row;
  }

  .nav ul {
    justify-content: space-evenly;
  }
}
